$color-pink-primary: linear-gradient(91.47deg, #da458f -6%, #da34dd 113.05%);

@mixin bgPrimary {
  background: $color-pink-primary !important;
}

@mixin textPrimary {
  background: $color-pink-primary;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ant-btn.ant-btn-primary {
  @include bgPrimary;
  @apply border-none text-white transition duration-500 ease-in-out;

  &:hover {
    @include bgPrimary;
    opacity: 0.8;
  }
}

.ant-typography {
  @apply mb-0 #{!important};
}

.ant-typography {
  @apply text-white;
}
