@use "../../../styles/index.scss" as *;

.headerNav {
  @apply font-drone-ranger text-s;

  :global {
    ul > li {
      @apply cursor-pointer transition duration-500 ease-in-out;

      &:hover {
        opacity: 0.8;
      }

      > p {
        @apply text-white;
        transition: background 0.5s ease;

        &.active {
          @include textPrimary;

          &::after {
            content: "";
            display: block;
            @apply w-4 h-[2px] ml-1;
            @include bgPrimary;
          }
        }
      }
    }
  }
}
